@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700,700i,900');


* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}